<footer class="site-footer">
  <span class="footer-spacer"></span>
</footer>

<style>
.site-footer {
  width: 100%;
  height: 80px;
  background: url("/footer.webp") center bottom / cover no-repeat;
  position: relative;
  z-index: 5;
}

.footer-spacer {
  display: block;
  height: 1px;
}
</style>